<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dailytalent.www.talentkakhazana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:label="@string/app_name"
            android:name=".SplashScreenNew"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/app_name"
            android:name=".PagesnewActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>